
.category-list-item {
    position: relative !important;
    z-index: 1 !important;
    list-style: none !important;
    list-style-type: none !important;
    border-bottom: 1px solid hsl(0, 0%, 88%) !important;;
}
  
.category-trash-btn {
    cursor: pointer !important;
    position: absolute !important;
    top: 5px;
    right: 30px;
    z-index: 100 !important;
}