
.log-in-logo-image {
  display: block;
  width: 180px;
  margin: 0px auto;
  border-radius: 3px;
}

.other-account-btn-log-in {
  background-color: hsl(180, 0%, 100%);
}


.other-login-container {
  display: grid;
  grid-template-rows: 60px 60px;
  grid-gap: 5px;
  justify-items: center;
  align-items: center;
  padding-bottom: 40px;
}

.other-account-login {
  color: hsl(240, 0%, 45%);
}

.forgot-password-image {
    width: 30px;
    border-radius: 3px;
    margin: 0px 10px;
}

.forgot-password-link {
  text-decoration: none !important;
  outline: none !important;
  color: hsl(206, 85%, 54%) !important;
  transition: all 0.3s ease-in-out;

}

.forgot-password-link:hover,
.forgot-password-link:active {
  text-decoration: underline !important;
}
