
.update-background-color,
select,
#update-form-select {
    cursor: pointer !important;
    background-color: hsla(45, 99%, 61%, 0.10) !important;
}

select > option,
select > option:target,
select > option:focus,
select > option:hover {
    cursor: pointer !important;
    background-color: white !important;
}



