

#update-form-select {
    cursor: pointer !important;
}

#update-form-select select,
#update-recipe-ingredient-select select {
    color: black !important;
    background-color: hsla(45, 99%, 61%, 0.30) !important;
}

#update-form-select select option,
#update-recipe-ingredient-select select option {
    color: black !important;
    background-color: hsla(45, 99%, 61%, 0.30) !important;
}

#update-form-select .item-label {
    color: black !important;
}

select > option,
select > option:target,
select > option:focus,
select > option:hover {
    cursor: pointer !important;
    background-color: hsla(45, 99%, 61%, 0.10);
}



